<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>The Picture</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu|Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<h1>The Picture</h1>
		<p> Picture your picture in The Picture </p>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/mypicture">My Picture</a>
				</li>
				<li>
					<a href="#">The Picture</a>
				</li>
				<li>
					<a href="#">All Pictures</a>
				</li>
			</ul>
		</nav>
	</header>


